*{
  padding: 0;
  margin: 0; 
  font-family: 'Open Sans', sans-serif; 
}



.welcome-message {
    display: block;
    text-align: center;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    animation: fadeOut 12s ease forwards;
    color: #009FBD;
   
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none;
    }
  }


.container{
    background-color:#F2E3DB;
    overflow: hidden;
    z-index: 999;
}
#time {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: black;
    color: white;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
    

  }
  #time2 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    background-color: black;
    color: white;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
  }
  #time2 {
    animation: blinker 3s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

.salute{
    height:100vh;
    display: flex;
    align-items: center; 
    overflow: hidden;
    z-index: 999;

}
.saluteText{
   
    color:#009FBD;
    font-size: 45vw;
    cursor: default;
    
}

.saluteTextContainer{
    flex: 3;
}
.saluteImgContainer{
    flex: 1;
    margin-right: 200px;
}
.saluteImg{
    width: 100%;
    border-radius: 5%;
    object-fit: contain;
}
.nameContainer{
    display: flex;
    height: 100vh;
    background-color: black;
    align-items: center;
    justify-content: center;
}
.name{
    font-size: 10vw;
    color:white;
    cursor: default;
    text-align: center;
    line-height: 100vh;
}
.jobTitleContainer{
    height: 100vh;
    background: linear-gradient(
        to bottom, rgba(0,0,0,0)0%,
        rgba(0,0,0,1) 100%
    ),
    url("./img/imagesProgrammer.jpg");
    background-size: cover;
    background-position: cover;
    z-index: 99;

}
.jobTitle{
    font-size: 10vw;
    color:#FFD95A;
    line-height: 100vh;
    cursor: default;
   
}
.projects{
    display: flex;
    flex-direction: column;
    gap: 10vh;
    padding: 0px 100px;
    z-index: -1;
}
.project{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100vh;
    overflow: hidden;  
    
}
.project:nth-child(2n){
    flex-direction: row-reverse;
}
.phone{
    width:37.5rem;
    height: 23.6875rem;
    flex: 1;
    position: relative;
    justify-content: end;
    align-items: center;

    

}
.phoneImg{
    width: 25rem;
    border-radius: 10%;
   
}
.phoneApp{
   width: 100%;
  
    
}
.phoneScreen{
    width: 19.375rem;
    height:16.25rem;
    position: absolute;
    top: 0.75rem;
    left: 3rem;
    overflow: scroll;
}



.projectDetail{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    align-items: center;
    z-index: 9999;
    background-color: #83764F;
    color: white;
    border-radius: 10%;
    padding: 0.625rem;
}
.projectsTitle{
  margin-top: 70px;
    font-size: 5vw;
    color:#009FBD;

}
.projectDesc{
    font-size: 1.25rem;
    color:black;
    text-align: justify;
    line-height: 1.25rem;
    background-color: white !important;
    padding: 3%;
    line-height: 2;
    max-height: 300px;
  overflow-y: auto;
}
.projectButton{
    padding: 0.625rem 1.25rem;
    font-size: large;
    background-color: transparent;
    border: 0.125rem solid white;
    border-radius: 10%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    color: white;

}
.projectButton:hover{
    background-color:#617A55;
    font-size: larger;
}
a {
    color: inherit;
    text-decoration: none;
  }


.projectButton:hover.projectButton::after {
    transform: translateX(100%);
}

.laptop{
    width:600px;
    height: 379px;
    flex: 1;
    position: relative;
    justify-content: center;
    align-items: center;

}
.laptopScreen{
    width: 19.375rem;
    height: 16.25rem;
    position: absolute;
    top: 1.125rem;
    left: 3rem;
    overflow: scroll;
    
}

.laptopApp{

 width: 100%; 

  
}
.laptopImg{
    width: 400px;
    height: 300px;
    border-radius: 10%;
}
.githubContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    
}
.githubTitle{
    font-size: 5rem;
    color:#009FBD;
    margin: auto;
    text-align: center;
}

 .githubTitle{
    animation: blinker 3s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

.githubChart{
width: 51.25rem;
}
.dates{
    padding: 0.625rem;
    color: #555;
    font-size: large;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 4);
    height: calc(100% / 4);
    background-color: #245953;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    font-size: larger;
    color: white;
}
.findme{
    background-color: #245953;
    color: white;
}
.findme2{
    background-color: #245953;
    color: white;
}
#containers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 37.5rem;
    height: 12.5rem;
    border: 1px solid #ccc;
    margin: auto;
}
.active:nth-child(4n) {
    background-color: #195b2c;
  }
  
  .githubChart:hover .active:nth-child(2n+1){
    background-color: #195b2c;
  }
  .githubChart:hover .active:nth-child(2n){
    background-color: #063f24;
  }
  
  .githubSm{
    display: none;
  }
  

  #contact-form {
    padding: 10px;
    width: 900px ;
  }
  
  
  form#contact-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form#contact-form input[type="text"],
  form#contact-form input[type="email"],
  form#contact-form textarea {
    width: 100%;
    padding: 30px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  form#contact-form button {
    display: block;
    width: 30%;
    padding: 10px;
    background-color: #009FBD;
    color: white;
    border: none;
    cursor: pointer;
    margin: auto;
  }
  .contactMe{
    color: green;
  }
  .submitButton{
    border-radius: 10%;
  }

  .phone-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  @media screen and (max-width:1024px) {


    .scrollContainer {
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .jobTitleContainer {
      display: inline-block;
      text-align: center;
      background-color: lightblue;
      padding: 10px;
    }
    
    .jobTitle {
      margin: 0;
    }
    




    




  
    .projects{
      padding: 0 1.875rem;
      text-align: center;
    }
  
    .project{
      flex-direction: column;
      height: max-content;
    }
    .projectsTitle{
      z-index: 999;
      text-align: center;
      justify-content: center;
      justify-items: center;
      margin-top: 40px;
      font-size: 25px;
    }

    .projectButton{
      padding: 0.625rem 1.25rem;
      font-size: medium;
      background-color: transparent;
      border: 0.125rem solid white;
      border-radius: 10%;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      color: white;
      width: max-content;
      height: max-content;
  
  }

    .project:nth-child(2n){
      flex-direction: column;
    }
    .intro{
      margin-top: -190px;
    }
    .phone {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      justify-items: center;
    }
    
    
    .phoneScreen {
      display: flex;
      height: 40vh;
      position: absolute;
      left: 150px;
      top: 60px;
      overflow: scroll;
    }


    .saluteText{
   
      color:#009FBD;
      font-size: 35vw;
      cursor: default;
      
  }
    
    .welcome-message{
      font-size: smaller;
    }

    .saluteImgContainer{
      border-radius: 50%;
    }
    .saluteImg{
      width: 220px;
  height: 170px; 
border-radius: 30%;
      
    }
    .nameContainer{
      
      height: 300px;
    }
    .jobTitleContainer{
      height: 500px;
    }
  
    .phone,.laptop{
      transform: none !important;
    }

    .laptopScreen{
      width: 19.375rem;
      height: 16.25rem;
      position: absolute;
      top: 1.125rem;
      left: 70px;
      overflow: scroll;
      
  }
   
  .githubContainer{
    
    margin-top: 80px;
    
}

    .githubTitle{
      margin-top: 0;
      text-align: center;
      font-size: 25px;
      padding: 10px;
    }
  
    .githubSm{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.25rem;
      color:#555;
      font-size: 1.875rem;
      text-align: center;
    }
    #containers{
        width: 18rem;
        font-size: small;
    }
  }

  .phoneImg{
    width: 25rem;
    border-radius: 10%;
    
  }

    .phoneApp{
      width: 100%;
       
   }
   .phone-container {
    transform: none;
  }

  form#contact-form {
    padding: 10px;
    width: 300px !important;
  }
  
  form#contact-form input[type="text"],
  form#contact-form input[type="email"],
  form#contact-form textarea {
    padding: 5px;
  }


  footer {
    background-color: #333;
    color: #fff;
    margin-top: 100px;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    font-family: 'Georgia', serif;
    opacity: 80%;
  }

  footer p {
    margin: 0;
  }
  
  footer span {
    font-weight: bold;
  }

  